<section class="mat-typography">
  <div class="footer">
    <mat-toolbar class="footer-background">
      <mat-toolbar-row>
        <span class="spacer"></span>
        <button mat-button class="toolbar-element unfade" [routerLink]="'contact'">
          {{ 'footer.toolbar.contact' | translate }}</button>
        <button mat-button class="toolbar-element unfade">{{ 'footer.toolbar.about' | translate }}</button>
        <button mat-button class="toolbar-element unfade" [routerLink]="'privacy'">
          {{ 'footer.toolbar.privacy' | translate }}
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</section>
