.example-form-field {
  width: 200px;
}

.option-block {
  position: absolute;
  right: 20px;
  top: 50px;
}

.option-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.option-button {
  display: inline;
  padding-right: 10px;
}

.option-description-title {
  padding-bottom: 10px;
}

.option-text {
  padding-top: 30px;
  white-space: pre-line;
  text-align: justify;
  width: 195px;
  height: 300px;
}
