<div class="component-main-div">
  <!-- title -->
  <div class="opt-component-title title">
    <span>{{ 'contact.contactTitle' | translate }}</span>
  </div>

  <form class="contact-form">
    <mat-form-field class="contact-field">
      <mat-label>{{ 'contact.salutation' | translate }}</mat-label>
      <input matInput placeholder="{{ 'contact.salutation' | translate }}">
    </mat-form-field><br>
    <mat-form-field class="contact-field">
      <mat-label>{{ 'contact.firstName' | translate }}</mat-label>
      <textarea matInput placeholder="{{ 'contact.firstName' | translate }}"></textarea>
    </mat-form-field><br>
    <mat-form-field class="contact-field">
      <mat-label>{{ 'contact.surname' | translate }}</mat-label>
      <textarea matInput placeholder="{{ 'contact.surname' | translate }}"></textarea>
    </mat-form-field><br>
    <mat-form-field class="contact-field">
      <mat-label>{{ 'contact.email' | translate }}</mat-label>
      <textarea matInput placeholder="{{ 'contact.email' | translate }}"></textarea>
    </mat-form-field><br>
    <mat-form-field class="contact-field">
      <mat-label>{{ 'contact.phone' | translate }}</mat-label>
      <textarea matInput placeholder="{{ 'contact.phone' | translate }}"></textarea>
    </mat-form-field><br>
    <mat-form-field class="contact-field">
      <mat-label>{{ 'contact.message' | translate }}</mat-label>
      <textarea matInput placeholder="{{ 'contact.message' | translate }}"></textarea>
    </mat-form-field>
  </form>


</div>
