mat-selection-list::-webkit-scrollbar {
  display: none;
}

mat-selection-list {
  max-height: 200px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-top: 0px;
}

.opt-component-list-title {
  padding-top: 10px;
  font-size: 20px;
}
