<div style="padding-top: 20px">
  <mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <mat-button-toggle-group name="uploadType">
        <mat-button-toggle value=EXCEL
                           [checked]="true"
                           (change)="state = getUploadType.EXCEL">
          {{ 'upload.toggle.excel' | translate }}
        </mat-button-toggle>
        <mat-button-toggle value=CSV
                           (change)="state = getUploadType.CSV">
          {{ 'upload.toggle.csv' | translate }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="state === getUploadType.CSV" [colspan]="3" [rowspan]="6">
      <app-upload-csv>
      </app-upload-csv>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="state === getUploadType.EXCEL" [colspan]="3" [rowspan]="6">
      <app-upload-excel>
      </app-upload-excel>
    </mat-grid-tile>
  </mat-grid-list>
</div>
