table {
  width: 700px;
}

.title {
  padding-top: 30px;
  text-align: center;
}

.info {
  position: absolute;
  top: 60px;
  right: 0;
}

.figures {
  position: absolute;
  top: 30px;
  left: 80px;
}

.card {
  width: 200px;
}

.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}

.ellipsify {
  white-space: nowrap;
  overflow: hidden;
  width: 150px;
  text-overflow: ellipsis;
}

.original-number {
  padding-left: 35px;
}
