@media only screen and (max-width: 788px) {

  .figures {
    text-align: center;
  }
}

@media only screen and (min-width: 789px) {

  .figures {
    position: absolute;
    top: 30px;
    left: 80px;
  }
}

.title {
  padding-top: 30px;
  text-align: center;
}
