<section class="mat-typography">
  <div class="header-background" [ngClass]="{'unfold': !fold, 'fold': fold}">
    <mat-toolbar [ngClass]="{'toolbar-background-fading': !dark, 'toolbar-background-dark': dark}">
      <mat-toolbar-row>
        <span class="title" [routerLink]="'ingest'">{{'app-name' | translate}}</span>
        <span class="spacer"></span>
        <button mat-button class="toolbar-element unfade">{{ 'header.toolbar.benford' | translate }}</button>
        <button mat-button class="toolbar-element unfade" [matMenuTriggerFor]="menu">
          <mat-icon>language</mat-icon>
          {{chosenLanguage.toUpperCase()}}
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu class="click-menu" #menu="matMenu">
          <button (click)="changeLanguage('de')" *ngIf="chosenLanguage === 'en'"
                  mat-menu-item>{{availableLanguages[0]}}</button>
          <button (click)="changeLanguage('en')" *ngIf="chosenLanguage === 'de'"
                  mat-menu-item>{{availableLanguages[1]}}</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="description-box" [ngClass]="{'unfade': !fold, 'fade': fold}">
      <span class="description-title mat-display-2">{{'ingest.description-title' | translate }}</span><br/>
      <span class="description-text mat-display-1">{{'ingest.description-text' | translate }}</span>
    </div>
  </div>
</section>
