@media only screen and (max-width: 788px) {

  .opt-component-title {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
    height: 55px;
  }

  .opt-component-block {
    text-align: center;
  }

  .content-title {
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
  }

  .content {
    display: inline-block;
    text-align: center;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    font-stretch: normal;
    font-family: Poppins, sans-serif;
    line-height: 30px;
  }
}

@media only screen and (min-width: 789px) {

  .opt-component-title {
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    padding-top: 70px;
    height: 55px;
  }

  .opt-component-block {
    position: absolute;
    left: 30px;
    top: 25px;
  }

  .content-title {
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
  }

  .content {
    display: inline-block;
    text-align: center;
    padding-top: 30px;
    padding-right: 100px;
    padding-left: 100px;
    font-size: 14px;
    color: #777777;
    font-weight: 400;
    font-stretch: normal;
    font-family: Poppins, sans-serif;
    line-height: 30px;
  }
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.line {
  height: 1px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
}

.opt-component-error {
  padding-top: 20px;
  color: red;
  white-space: pre-line;
  font-size: 16px;
  font-weight: bold;
  hyphens: auto;
  text-align: justify;
  width: 200px;
}

mat-row:nth-child(even) {
  background-color: red;
}

mat-row:nth-child(odd) {
  background-color: black;
}

.mat-list-base .mat-list-item:nth-child(odd) {
  background: rgba(0, 0, 0, 0.03);
}

.component-main-div {
  margin: auto;
  width: 100%;
}

.unfade {
  animation-name: unfade;
  animation-duration: 2s;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes unfade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
